<!--{template common/header}-->
<!--[name][星点互联装修装饰风格-装修问答频道页][/name]-->

<link rel="stylesheet" type="text/css" href="./template/nex_deco_180401/neoconex/qna/main.css">
<div class="nex_wenda_decor">
	<div class="w1180">
    	<div id="pt" class="bm cl">
            <div class="z">
                <a href="#" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a> <em>&rsaquo;</em>
                <a href="#">{lang portal}</a> <em>&rsaquo;</em>
                <!--{loop $cat[ups] $value}--> <a href="#">$value[catname]</a><em>&rsaquo;</em><!--{/loop}-->
                $cat[catname]
            </div>
        </div>
        <div class="nex_wenda_decorbox_ads"><!--[diy=nex_wenda_decorbox_ads]--><div id="nex_wenda_decorbox_ads" class="area"></div><!--[/diy]--></div>
        <div class="nex_wenda_decorbox">
        	<div class="nex_wenda_decorboxl">
            	<ul>
                	<li>
                    	<!--[diy=nex_wenda1]--><div id="nex_wenda1" class="area"></div><!--[/diy]-->
                    	
                    </li>
                    <li>
                    	<!--[diy=nex_wenda2]--><div id="nex_wenda2" class="area"></div><!--[/diy]-->
                    	
                    </li>
                    <li>
                    	<!--[diy=nex_wenda3]--><div id="nex_wenda3" class="area"></div><!--[/diy]-->
                    	
                    </li>
                    <li>
                    	<!--[diy=nex_wenda4]--><div id="nex_wenda4" class="area"></div><!--[/diy]-->
                    	
                    </li>
                    <li>
                    	<!--[diy=nex_wenda5]--><div id="nex_wenda5" class="area"></div><!--[/diy]-->
                    	
                    </li>
                    <li>
                    	<!--[diy=nex_wenda6]--><div id="nex_wenda6" class="area"></div><!--[/diy]-->
                    	
                    </li>
                </ul>
            </div>
            <div class="nex_wenda_decorboxm">
            	<div class="nex_wenda_decorboxm_top">
                	<div class="nex_wdtoppiv">
                    	<!--[diy=nex_wdtoppiv]--><div id="nex_wdtoppiv" class="area"></div><!--[/diy]-->
                    	
                    </div>
                    <div class="nex_wdtopinfo">
                    	<ul>
                        	<!--[diy=nex_wdtopinfo]--><div id="nex_wdtopinfo" class="area"></div><!--[/diy]-->
                        	
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="nex_wdcommontopx"><span>大家都在问</span></div>
                <div class="nex_popwd">
                	<ul>
                    	<!--[diy=nex_popwd]--><div id="nex_popwd" class="area"></div><!--[/diy]-->
                    	
                    </ul>
                </div>    
                <div class="nex_wdcommontopx"><span>新增问题</span></div>
                <div class="nex_wdnewadd">
                	<ul>
                    	<!--[diy=nex_wdnewadd]--><div id="nex_wdnewadd" class="area"></div><!--[/diy]-->
                    	
                        <div class="clear"></div>
                    </ul>
                </div>
                <div class="nex_wdmidads"><!--[diy=nex_wdmidads1]--><div id="nex_wdmidads1" class="area"></div><!--[/diy]--></div>
                <div class="nex_wdcommontopx"><span>等你来回答</span></div>
                <div class="nex_wdwaiting">
                	<ul>
                    	<!--[diy=nex_wdwaiting]--><div id="nex_wdwaiting" class="area"></div><!--[/diy]-->
                    	
                        <div class="clear"></div>
                    </ul>
                </div>
                
                
            </div>
            <div class="nex_wenda_decorboxr">
            	<div class="nex_selectedstyle"><!--[diy=nex_selectedstyle]--><div id="nex_selectedstyle" class="area"></div><!--[/diy]--></div>
                <div class="nex_wdbknum">
                	<!--[diy=nex_wdbknum]--><div id="nex_wdbknum" class="area"></div><!--[/diy]-->
                	
                </div>
                <div class="nex_wdbknum">
                	<div class="nex_wdbknumtops">热门问题</div>
                    <div class="nex_commonwdlist">
                    	<ul>
                        	<!--[diy=nex_commonwdlist]--><div id="nex_commonwdlist" class="area"></div><!--[/diy]-->
                                
                        </ul>
                    </div>
                </div>
                <div class="nex_edads"><!--[diy=nex_edads]--><div id="nex_edads" class="area"></div><!--[/diy]--></div>
                <div class="nex_edads"><!--[diy=nex_edads1]--><div id="nex_edads1" class="area"></div><!--[/diy]--></div>
                
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>




<!--{template common/footer}-->

                                      
                                        