<!--{template common/header}-->

<div class="wp">
	<!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
    <!--index_main-->
    <div class="nex_slider_inter">
        {if file_exists('source/plugin/nex_decos_180401/inc.php')}
        <!--{eval require_once("source/plugin/nex_decos_180401/inc.php");}-->
        {/if}
        <!--申请表单提交开始-->
        {$form[0]}
        <!--申请表单提交结束-->
    </div>
    <div class="nexfullSlide">
    	<!--[diy=nexfullSlide]--><div id="nexfullSlide" class="area"><div id="frameINttzQ" class="frame move-span cl frame-1"><div id="frameINttzQ_left" class="column frame-1-c"><div id="frameINttzQ_left_temp" class="move-span temp"></div><!--{block/3}--></div></div></div><!--[/diy]-->
        
        <a class="prev" href="javascript:void(0)"></a>
        <a class="next" href="javascript:void(0)"></a>
        
    </div>
    <script type="text/javascript">
		jQuery(".nexfullSlide").slide({ titCell:".hd ul", mainCell:".bd ul", effect:"fold",  autoPlay:true, autoPage:true, trigger:"click" });
	</script>
    <!--装修流程-->
    <div class="nex_deco_common">
    	<div class="w1180">
        	<div class="nex_deco_common_top">
            	<span>公司服务流程</span><em>7步轻松搞定,保障您的装修每一步</em>
            </div>
        	<div class="nex_deco_index_process">
            	<div class="nex_deco_index_process_top">
                    <ul>
                    	<!--[diy=nex_deco_index_process_top]--><div id="nex_deco_index_process_top" class="area"><div id="framerCco1Z" class="frame move-span cl frame-1"><div id="framerCco1Z_left" class="column frame-1-c"><div id="framerCco1Z_left_temp" class="move-span temp"></div><!--{block/4}--></div></div></div><!--[/diy]-->
                        
                        <div class="clear"></div>
                    </ul>
                </div>
                <div class="nex_deco_index_process_step">
                    <ul>
                        <li><i><img src="template/nex_deco_180401/neoconex/index/icon-round1.png"></i><span></span></li>
                        <li><i><img src="template/nex_deco_180401/neoconex/index/icon-round2.png"></i><span></span></li>
                        <li><i><img src="template/nex_deco_180401/neoconex/index/icon-round3.png"></i><span></span></li>
                        <li><i><img src="template/nex_deco_180401/neoconex/index/icon-round4.png"></i><span></span></li>
                        <li><i><img src="template/nex_deco_180401/neoconex/index/icon-round5.png"></i><span></span></li>
                        <li><i><img src="template/nex_deco_180401/neoconex/index/icon-round6.png"></i><span></span></li>
                        <li><i><img src="template/nex_deco_180401/neoconex/index/icon-round7.png"></i><span></span></li>
                        <div class="clear"></div>
                    </ul>
                </div>
            </div>
            <div class="nex_deco_process_ads"><!--[diy=nex_deco_process_ads]--><div id="nex_deco_process_ads" class="area"><div id="frameL757pc" class="frame move-span cl frame-1"><div id="frameL757pc_left" class="column frame-1-c"><div id="frameL757pc_left_temp" class="move-span temp"></div><!--{block/5}--></div></div></div><!--[/diy]--></div>
        </div>
    </div>
    
    <!--公司案例展示-->
    <div class="nex_deco_common">
    	<div class="w1180">
        	<div class="nex_deco_common_top">
            	<span>精选设计案例展示</span><em>看别人的家，装自己的窝!</em>
                <div class="nex_topmore_btn"><a href="#" target="_blank">更多案例</a></div>
                <ul>
                	<li><a href="#" target="_blank">小户型</a></li>
                    <li><a href="#" target="_blank">一居室</a></li>
                    <li><a href="#" target="_blank">二居室</a></li>
                    <li><a href="#" target="_blank">三居室</a></li>
                    <li><a href="#" target="_blank">四居室</a></li>
                    <li><a href="#" target="_blank">别墅</a></li>
                    <li><a href="#" target="_blank">公寓</a></li>
                    <li><a href="#" target="_blank">复式</a></li>
                    <li class="nex_deco_common_toplast"><a href="#" target="_blank">工装</a></li>
                    <div class="clear"></div>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="nex_casebox">
            	<ul>
                	<!--[diy=nex_casebox]--><div id="nex_casebox" class="area"><div id="frameNz7xx7" class="frame move-span cl frame-1"><div id="frameNz7xx7_left" class="column frame-1-c"><div id="frameNz7xx7_left_temp" class="move-span temp"></div><!--{block/56}--></div></div></div><!--[/diy]-->
                    
                    <div class="clear"></div>
                </ul>
            </div>
            <div class="nex_deco_process_ads"><!--[diy=nex_deco_process_ads1]--><div id="nex_deco_process_ads1" class="area"><div id="frameY8RHFZ" class="frame move-span cl frame-1"><div id="frameY8RHFZ_left" class="column frame-1-c"><div id="frameY8RHFZ_left_temp" class="move-span temp"></div><!--{block/6}--></div></div></div><!--[/diy]--></div>
        </div>
    </div>
    <!--装修互助论坛-->
   <!-- <div class="nex_deco_common">
    	<div class="w1180">
        	<div class="nex_deco_common_top">
            	<span>装修互助论坛</span><em>第一时间了解新的装修资讯，让装修更一目了然</em>
                <div class="nex_topmore_btn"><a href="#" target="_blank">进入论坛</a></div>
                <ul>
                	<li><a href="#" target="_blank">装修设计</a></li>
                    <li><a href="#" target="_blank">家装风水</a></li>
                    <li><a href="#" target="_blank">装修建材</a></li>
                    <li><a href="#" target="_blank">优惠打折</a></li>
                    <li><a href="#" target="_blank">软装搭配</a></li>
                    <li><a href="#" target="_blank">装修施工</a></li>
                    <li class="nex_deco_common_toplast"><a href="#" target="_blank">家装设计</a></li>
                    <div class="clear"></div>
                </ul>
                <div class="clear"></div>
            </div>-->
    <!--装修效果图-->
    <div class="nex_deco_common">
    	<div class="w1180">
        	<div class="nex_deco_common_top">
            	<span>装修效果图</span><em>超过<i>154550</i>套装修设计图，为您找到装修灵感</em>
                <div class="nex_topmore_btn"><a href="#" target="_blank">查找更多装修效果图</a></div>
                <ul>
                	<li><a href="#" target="_blank">空间</a></li>
                    <li><a href="#" target="_blank">中式</a></li>
                    <li><a href="#" target="_blank">简欧</a></li>
                    <li><a href="#" target="_blank">地中海</a></li>
                    <li><a href="#" target="_blank">田园</a></li>
                    <li><a href="#" target="_blank">美式</a></li>
                    <li><a href="#" target="_blank">北欧</a></li>
                    <li class="nex_deco_common_toplast"><a href="#" target="_blank">日韩</a></li>
                    <div class="clear"></div>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="nex_xgtbox">
            	<div class="nex_xgtbox_l">
                	<!--[diy=nex_xgtbox_l]--><div id="nex_xgtbox_l" class="area"><div id="frameMPh12U" class="frame move-span cl frame-1"><div id="frameMPh12U_left" class="column frame-1-c"><div id="frameMPh12U_left_temp" class="move-span temp"></div><!--{block/17}--></div></div></div><!--[/diy]-->
                	
                </div>
                <div class="nex_xgtbox_m">
                	<div class="nex_xgtbox_m_top">
                    	<ul>
                        	<!--[diy=nex_xgtbox_m_top]--><div id="nex_xgtbox_m_top" class="area"><div id="frameQ1CaJ5" class="frame move-span cl frame-1"><div id="frameQ1CaJ5_left" class="column frame-1-c"><div id="frameQ1CaJ5_left_temp" class="move-span temp"></div><!--{block/19}--></div></div></div><!--[/diy]-->
                        	
                            <div class="clear"></div>
                        </ul>
                    </div>
                    <div class="nex_xgtbox_m_btm">
                    	<!--[diy=nex_xgtbox_m_btm]--><div id="nex_xgtbox_m_btm" class="area"><div id="frameZ0fPiy" class="frame move-span cl frame-1"><div id="frameZ0fPiy_left" class="column frame-1-c"><div id="frameZ0fPiy_left_temp" class="move-span temp"></div><!--{block/18}--></div></div></div><!--[/diy]-->
                    	
                    </div>
                </div>
                <div class="nex_xgtbox_r">
                	<div class="nex_xgtbox_m_btm">
                    	<!--[diy=nex_xgtbox_m_btmx]--><div id="nex_xgtbox_m_btmx" class="area"><div id="framep244LT" class="frame move-span cl frame-1"><div id="framep244LT_left" class="column frame-1-c"><div id="framep244LT_left_temp" class="move-span temp"></div><!--{block/20}--></div></div></div><!--[/diy]-->
                    	
                    </div>
                	<div class="nex_xgtbox_m_top">
                    	<ul>
                        	<!--[diy=nex_xgtbox_m_btmx1]--><div id="nex_xgtbox_m_btmx1" class="area"><div id="framefU13Ss" class="frame move-span cl frame-1"><div id="framefU13Ss_left" class="column frame-1-c"><div id="framefU13Ss_left_temp" class="move-span temp"></div><!--{block/21}--></div></div></div><!--[/diy]-->
                        	
                            <div class="clear"></div>
                        </ul>
                    </div>
                    
                </div>
                <div class="clear"></div>
            </div>
            <div class="nex_deoCate_content">
            	<ul>
                	<!--[diy=nex_deoCate_content]--><div id="nex_deoCate_content" class="area"><div id="frameSOYb4d" class="frame move-span cl frame-1"><div id="frameSOYb4d_left" class="column frame-1-c"><div id="frameSOYb4d_left_temp" class="move-span temp"></div><!--{block/22}--></div></div></div><!--[/diy]-->
                    
                	<div class="clear"></div>
                </ul>
            </div>
    	</div>
    </div>
    <!--装修攻略-->
    <div class="nex_deco_common">
    	<div class="w1180">
        	<div class="nex_deco_common_top">
            	<span>装修攻略</span><em>学习装修知识，避免装修猫腻，上万篇装修干货分享</em>
                <div class="nex_topmore_btn"><a href="#" target="_blank">更多装修攻略</a></div>
                <ul>
                	<li><a href="#" target="_blank">选建材</a></li>
                    <li><a href="#" target="_blank">装修施工</a></li>
                    <li><a href="#" target="_blank">软装搭配</a></li>
                    <li><a href="#" target="_blank">装修流程</a></li>
                    <li><a href="#" target="_blank">装饰材料</a></li>
                    <li class="nex_deco_common_toplast"><a href="#" target="_blank">装修保障</a></li>
                    <div class="clear"></div>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="nex_deco_zxbox">
            	<div class="nex_deco_zxbox_1">
                	<div class="nex_deco_zxbox_1top"><img src="template/nex_deco_180401/neoconex/index/gl1.png" /></div>
                    <div class="nex_deco_zxbox_1btm">
                    	<ul>
                        	<!--[diy=nex_deco_zxbox_1btm]--><div id="nex_deco_zxbox_1btm" class="area"><div id="frameGydj7j" class="frame move-span cl frame-1"><div id="frameGydj7j_left" class="column frame-1-c"><div id="frameGydj7j_left_temp" class="move-span temp"></div><!--{block/23}--></div></div></div><!--[/diy]-->
                        	
                        </ul>
                    </div>
                </div>
                <div class="nex_deco_zxbox_1">
                	<div class="nex_deco_zxbox_1top"><img src="template/nex_deco_180401/neoconex/index/gl2.png" /></div>
                    <div class="nex_deco_zxbox_1btm">
                    	<ul>
                        	<!--[diy=nex_deco_zxbox_1btm2]--><div id="nex_deco_zxbox_1btm2" class="area"><div id="framef7lUV8" class="frame move-span cl frame-1"><div id="framef7lUV8_left" class="column frame-1-c"><div id="framef7lUV8_left_temp" class="move-span temp"></div><!--{block/24}--></div></div></div><!--[/diy]-->
                        	
                        </ul>
                    </div>
                </div>
                <div class="nex_deco_zxbox_1">
                	<div class="nex_deco_zxbox_1top"><img src="template/nex_deco_180401/neoconex/index/gl3.png" /></div>
                    <div class="nex_deco_zxbox_1btm">
                    	<ul>
                        	<!--[diy=nex_deco_zxbox_1btm3]--><div id="nex_deco_zxbox_1btm3" class="area"><div id="framekczlgr" class="frame move-span cl frame-1"><div id="framekczlgr_left" class="column frame-1-c"><div id="framekczlgr_left_temp" class="move-span temp"></div><!--{block/25}--></div></div></div><!--[/diy]-->
                        	
                        </ul>
                    </div>
                </div>
                <div class="nex_deco_zxbox_1 nex_deco_zxbox_2">
                	<div class="nex_deco_zxbox_1top"><img src="template/nex_deco_180401/neoconex/index/gl4.png" /></div>
                    <div class="nex_deco_zxbox_1btm">
                    	<ul>
                        	<!--[diy=nex_deco_zxbox_1btm4]--><div id="nex_deco_zxbox_1btm4" class="area"><div id="frameI33fhw" class="frame move-span cl frame-1"><div id="frameI33fhw_left" class="column frame-1-c"><div id="frameI33fhw_left_temp" class="move-span temp"></div><!--{block/26}--></div></div></div><!--[/diy]-->
                        	
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="nex_deco_process_ads"><!--[diy=nex_deco_zxbox_1btm42]--><div id="nex_deco_zxbox_1btm42" class="area"><div id="framed689Mu" class="frame move-span cl frame-1"><div id="framed689Mu_left" class="column frame-1-c"><div id="framed689Mu_left_temp" class="move-span temp"></div><!--{block/27}--></div></div></div><!--[/diy]--></div>
        </div>
    </div>
    
    <!--家装日记-->
    
    <!--设计师-->
    <div class="nex_deco_common">
    	<div class="w1180">
        	<div class="nex_deco_common_top">
            	<span>优秀设计师</span><em>装修专家达人都在这里！已有<i>618</i>位知名装修设计师入驻</em>
                <div class="nex_topmore_btn"><a href="#" target="_blank">更多设计师</a></div>
                <ul>
                	<li><a href="#" target="_blank">设计总监</a></li>
                    <li><a href="#" target="_blank">设计师</a></li>
                    <li class="nex_deco_common_toplast"><a href="#" target="_blank">高级设计师</a></li>
                    <div class="clear"></div>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="nex_designer">
            	<ul>
                	<!--[diy=nex_designer]--><div id="nex_designer" class="area"><div id="frameH9J0Ej" class="frame move-span cl frame-1"><div id="frameH9J0Ej_left" class="column frame-1-c"><div id="frameH9J0Ej_left_temp" class="move-span temp"></div><!--{block/57}--></div></div></div><!--[/diy]-->
                	
                    <div class="clear"></div>
                </ul>
            </div>
            <div class="nex_deco_process_ads"><!--[diy=nex_rijiside2]--><div id="nex_rijiside2" class="area"><div id="frameof21rr" class="frame move-span cl frame-1"><div id="frameof21rr_left" class="column frame-1-c"><div id="frameof21rr_left_temp" class="move-span temp"></div><!--{block/31}--></div></div></div><!--[/diy]--></div>
        </div>
    </div>
    <!--装修资讯-->
    <div class="nex_deco_common">
    	<div class="w1180">
        	<div class="nex_deco_common_top">
            	<span>装修资讯</span><em>第一时间了解新的装修资讯，让装修更一目了然</em>
                <div class="nex_topmore_btn"><a href="#" target="_blank">更多资讯</a></div>
                <ul>
                	<li><a href="#" target="_blank">行业热点</a></li>
                    <li><a href="#" target="_blank">设计师访谈</a></li>
                    <li><a href="#" target="_blank">活动报道</a></li>
                    <li><a href="#" target="_blank">家装智库</a></li>
                    <li><a href="#" target="_blank">投诉曝光</a></li>
                    <li class="nex_deco_common_toplast"><a href="#" target="_blank">建材资讯</a></li>
                    <div class="clear"></div>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="nex_zxbots">
            	<div class="nex_zxbots_l">
                	<!--[diy=nex_zxbots_l]--><div id="nex_zxbots_l" class="area"><div id="frameMsw449" class="frame move-span cl frame-1"><div id="frameMsw449_left" class="column frame-1-c"><div id="frameMsw449_left_temp" class="move-span temp"></div><!--{block/32}--></div></div></div><!--[/diy]-->
                	
                    <a class="prev" href="javascript:void(0)"></a>
                    <a class="next" href="javascript:void(0)"></a>
                    <ul class="hd">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <script type="text/javascript">
					jQuery(".nex_zxbots_l").slide({ mainCell:".pic",effect:"left", autoPlay:true, delayTime:300});
				</script>
                <div class="nex_zxbots_m">
                	<div class="nex_zxbots_main">
                    	<!--[diy=nex_zxbots_m]--><div id="nex_zxbots_m" class="area"><div id="frameZxaV00" class="frame move-span cl frame-1"><div id="frameZxaV00_left" class="column frame-1-c"><div id="frameZxaV00_left_temp" class="move-span temp"></div><!--{block/33}--></div></div></div><!--[/diy]-->
                    	
                    </div>
                    <div class="nex_zxbots_main">
                    	<!--[diy=nex_zxbots_m1]--><div id="nex_zxbots_m1" class="area"><div id="frameg8gFfG" class="frame move-span cl frame-1"><div id="frameg8gFfG_left" class="column frame-1-c"><div id="frameg8gFfG_left_temp" class="move-span temp"></div><!--{block/34}--></div></div></div><!--[/diy]-->
                    	
                    </div>
                    <div class="nex_zxnewslist">
                    	<ul>
                        	<!--[diy=nex_zxnewslist]--><div id="nex_zxnewslist" class="area"><div id="frameZ8eHnk" class="frame move-span cl frame-1"><div id="frameZ8eHnk_left" class="column frame-1-c"><div id="frameZ8eHnk_left_temp" class="move-span temp"></div><!--{block/35}--></div></div></div><!--[/diy]-->
                        	
                        </ul>
                    </div>
                </div>
                <div class="nex_zxbots_r">
                	<div class="nex_zx_tab">
                    	<ul>
                        	<li class="cur">家装新闻</li>
                            <li>行业资讯</li>
                            <li>商家动态</li>
                            <div class="clear"></div>
                        </ul>
                    </div>
                    <div class="nex_zx_cons">
                    	<ul>
                        	<li style="display:block;">
                            	<div class="nex_zx_conslist">
                                	<dl>
                                    	<!--[diy=nex_zx_conslist]--><div id="nex_zx_conslist" class="area"><div id="framecohbBk" class="frame move-span cl frame-1"><div id="framecohbBk_left" class="column frame-1-c"><div id="framecohbBk_left_temp" class="move-span temp"></div><!--{block/36}--></div></div></div><!--[/diy]-->
                                    	
                                    </dl>
                                </div>
                            </li>
                            <li>
                            	<div class="nex_zx_conslist">
                                	<dl>
                                    	<!--[diy=nex_zx_conslist1]--><div id="nex_zx_conslist1" class="area"><div id="frameN1C861" class="frame move-span cl frame-1"><div id="frameN1C861_left" class="column frame-1-c"><div id="frameN1C861_left_temp" class="move-span temp"></div><!--{block/37}--></div></div></div><!--[/diy]-->
                                    	
                                    </dl>
                                </div>
                            </li>
                            <li>
                            	<div class="nex_zx_conslist">
                                	<dl>
                                    	<!--[diy=nex_zx_conslist12]--><div id="nex_zx_conslist12" class="area"><div id="framecPCcpv" class="frame move-span cl frame-1"><div id="framecPCcpv_left" class="column frame-1-c"><div id="framecPCcpv_left_temp" class="move-span temp"></div><!--{block/38}--></div></div></div><!--[/diy]-->
                                    	
                                    </dl>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <script type="text/javascript">
						jQuery(".nex_zx_tab ul li").each(function(s){
							jQuery(this).click(function(){
								jQuery(this).addClass("cur").siblings().removeClass("cur");
								jQuery(".nex_zx_cons ul li").eq(s).show().siblings().hide();
								})
							})
					</script>
                </div>
                <div class="clear"></div>
            </div>
            
        </div>
    </div>
    <!--家居建材-->
    <div class="nex_deco_common">
    	<div class="w1180">
        	<div class="nex_deco_common_top">
            	
                <div class="clear"></div>
            </div>
            
            <div class="nex_luntan_Litop"><span>优选合作建材品牌</span><a href="#" target="_blank">More&gt;</a><div class="clear"></div></div>
            <div class="nex_jcbrands">
            	<ul>
                	<!--[diy=nex_jcbrands]--><div id="nex_jcbrands" class="area"><div id="frameNslXXH" class="frame move-span cl frame-1"><div id="frameNslXXH_left" class="column frame-1-c"><div id="frameNslXXH_left_temp" class="move-span temp"></div><!--{block/44}--></div></div></div><!--[/diy]-->
                	
                    <div class="clear"></div>
                </ul>
            </div>
            <div class="nex_deco_process_ads"><!--[diy=nex_jcbrands2]--><div id="nex_jcbrands2" class="area"><div id="framewWQ2yL" class="frame move-span cl frame-1"><div id="framewWQ2yL_left" class="column frame-1-c"><div id="framewWQ2yL_left_temp" class="move-span temp"></div><!--{block/45}--></div></div></div><!--[/diy]--></div>
        </div>
    </div>
    <!--家装秀场-->
    <div class="nex_deco_common">
    	<div class="w1180">
        	<div class="nex_deco_common_top">
            	<span>家装美图赏</span><em>安心筑家，全程保障</em>
                <div class="nex_topmore_btn"><a href="#" target="_blank">更多装修美图</a></div>
                <ul>
                	<li><a href="#" target="_blank">新鲜出炉</a></li>
                    <li><a href="#" target="_blank">婚房装修</a></li>
                    <li><a href="#" target="_blank">小户型</a></li>
                    <li><a href="#" target="_blank">北欧宜家</a></li>
                    <li class="nex_deco_common_toplast"><a href="#" target="_blank">简约</a></li>
                    <div class="clear"></div>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="nex_zximgs">
            	<div class="nex_zximgs1">
                	<!--[diy=nex_zximgs1]--><div id="nex_zximgs1" class="area"><div id="frameQBdcaa" class="frame move-span cl frame-1"><div id="frameQBdcaa_left" class="column frame-1-c"><div id="frameQBdcaa_left_temp" class="move-span temp"></div><!--{block/46}--></div></div></div><!--[/diy]-->
                	
                </div>
                <div class="nex_zximgs2">
                	<div class="nex_zximgs2top">
                    	<div class="nex_zximgs2topl">
                        	<!--[diy=nex_zximgs2topl]--><div id="nex_zximgs2topl" class="area"><div id="frameQt9qoT" class="frame move-span cl frame-1"><div id="frameQt9qoT_left" class="column frame-1-c"><div id="frameQt9qoT_left_temp" class="move-span temp"></div><!--{block/47}--></div></div></div><!--[/diy]-->
                        	
                        </div>
                        <div class="nex_zximgs2topr">
                        	<ul>
                            	<!--[diy=nex_zximgs2topr]--><div id="nex_zximgs2topr" class="area"><div id="framep03IQ0" class="frame move-span cl frame-1"><div id="framep03IQ0_left" class="column frame-1-c"><div id="framep03IQ0_left_temp" class="move-span temp"></div><!--{block/48}--></div></div></div><!--[/diy]-->
                            	
                                <div class="clear"></div>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="nex_zximgs2btm">
                    	<div class="nex_zximgs2btml">
                        	<ul>
                            	<!--[diy=nex_zximgs2btml3]--><div id="nex_zximgs2btml3" class="area"><div id="frameoNtttL" class="frame move-span cl frame-1"><div id="frameoNtttL_left" class="column frame-1-c"><div id="frameoNtttL_left_temp" class="move-span temp"></div><!--{block/49}--></div></div></div><!--[/diy]-->
                            	
                                <div class="clear"></div>
                            </ul>
                        </div>
                    	<div class="nex_zximgs2btmr">
                        	<!--[diy=nex_zximgs2btml32]--><div id="nex_zximgs2btml32" class="area"><div id="frameevXm64" class="frame move-span cl frame-1"><div id="frameevXm64_left" class="column frame-1-c"><div id="frameevXm64_left_temp" class="move-span temp"></div><!--{block/50}--></div></div></div><!--[/diy]-->
                        </div>
                        
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="nex_linkbox">
            	<div class="nex_linktop">
                	<ul>
                    	<li class="cur">友情链接</li>
                        <li>热门城市</li>
                        <li>附近城市</li>
                        <div class="clear"></div>
                    </ul>
                </div>
                <div class="nex_linkbtm">
                	<ul>
                    	<li style="display:block;">
                        	<div class="nex_linkconsd">
                            	<dl>
                                	<!--[diy=nex_linkconsd]--><div id="nex_linkconsd" class="area"><div id="frameHQO8mO" class="frame move-span cl frame-1"><div id="frameHQO8mO_left" class="column frame-1-c"><div id="frameHQO8mO_left_temp" class="move-span temp"></div><!--{block/51}--></div></div></div><!--[/diy]-->
                                    
                                    <div class="clear"></div>
                                </dl>
                            </div>
                        </li>
                        <li>
                        	<div class="nex_linkconsd">
                            	<dl>
                                	<!--[diy=nex_linkconsd2]--><div id="nex_linkconsd2" class="area"><div id="framegsBOtb" class="frame move-span cl frame-1"><div id="framegsBOtb_left" class="column frame-1-c"><div id="framegsBOtb_left_temp" class="move-span temp"></div><!--{block/52}--></div></div></div><!--[/diy]-->
                                	
                                    <div class="clear"></div>
                                </dl>
                            </div>
                        </li>
                        <li>
                        	<div class="nex_linkconsd">
                            	<dl>
                                	<!--[diy=nex_linkconsd3]--><div id="nex_linkconsd3" class="area"><div id="frameP22Vw9" class="frame move-span cl frame-1"><div id="frameP22Vw9_left" class="column frame-1-c"><div id="frameP22Vw9_left_temp" class="move-span temp"></div><!--{block/53}--></div></div></div><!--[/diy]-->
                                	
                                    <div class="clear"></div>
                                </dl>
                            </div>
                        </li>
                    </ul>
                </div>
                <script type="text/javascript">
					jQuery(".nex_linktop ul li").each(function(s){
						jQuery(this).hover(function(){
							jQuery(this).addClass("cur").siblings().removeClass("cur");
							jQuery(".nex_linkbtm ul li").eq(s).show().siblings().hide();
							})
						})
				</script>
            </div>
            
     	</div>
    </div>
    <!--友情链接-->
    <div class="nex_aboutus">
    	<div class="w1180">
        	<div class="nex_aboutusbox">
            	<div class="nex_aboutusl">
                	<!--[diy=nex_aboutusl]--><div id="nex_aboutusl" class="area"><div id="frameoCke77" class="frame move-span cl frame-1"><div id="frameoCke77_left" class="column frame-1-c"><div id="frameoCke77_left_temp" class="move-span temp"></div><!--{block/54}--></div></div></div><!--[/diy]-->
                	
                </div>
                <div class="nex_aboutusm">
                	<!--[diy=nex_aboutusm]--><div id="nex_aboutusm" class="area"><div id="frameXsx3Ss" class="frame move-span cl frame-1"><div id="frameXsx3Ss_left" class="column frame-1-c"><div id="frameXsx3Ss_left_temp" class="move-span temp"></div><!--{block/55}--></div></div></div><!--[/diy]-->
                    
                </div>
                <div class="nex_aboutusr"></div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    
</div>
<!--底部伸缩提交表单-->
    {$form[1]}
    <!--结束-->

<!--{template common/footer}-->

