<!--{template common/header}-->
<link rel="stylesheet" type="text/css" href="template/nex_deco_180401/neoconex/apply/main.css">
<div class="nex_apply_Top">
	{if file_exists('source/plugin/nex_decos_180401/inc.php')}
	<!--{eval require_once("source/plugin/nex_decos_180401/inc.php");}-->
        <div class="nex_slider_inter">
            <!--申请表单提交开始-->
            {$form[0]}
            <!--申请表单提交结束-->
        </div>
    {else}  
    {/if}
</div>
    
<div class="nex_applycommonbox">
	<div class="w1180">
    	<div class="nex_applycommonboxTop">
        	<!--[diy=nex_applycommonboxTop]--><div id="nex_applycommonboxTop" class="area"><div id="frameYTrvcH" class="frame move-span cl frame-1"><div id="frameYTrvcH_left" class="column frame-1-c"><div id="frameYTrvcH_left_temp" class="move-span temp"></div><!--{block/125}--></div></div></div><!--[/diy]-->
        	
        </div>
        <div class="nex_apply_liucheng">
        	<ul>
            	<!--[diy=nex_apply_liucheng]--><div id="nex_apply_liucheng" class="area"><div id="frameMZV7Qp" class="frame move-span cl frame-1"><div id="frameMZV7Qp_left" class="column frame-1-c"><div id="frameMZV7Qp_left_temp" class="move-span temp"></div><!--{block/126}--></div></div></div><!--[/diy]-->
            	
                <div class="clear"></div>
            </ul>
        </div>
    </div>
</div>
<div class="nex_applycommonbox nex_applycommonbox_bg">
	<div class="w1180">
    	<div class="nex_applycommonboxTop">
        	<!--[diy=nex_applycommonboxTop1]--><div id="nex_applycommonboxTop1" class="area"><div id="frameJ6zgSG" class="frame move-span cl frame-1"><div id="frameJ6zgSG_left" class="column frame-1-c"><div id="frameJ6zgSG_left_temp" class="move-span temp"></div><!--{block/127}--></div></div></div><!--[/diy]-->
        	
        </div>
        <div class="nex_liangfang">
        	<ul>
            	<!--[diy=nex_liangfang]--><div id="nex_liangfang" class="area"><div id="frameuCDvdf" class="frame move-span cl frame-1"><div id="frameuCDvdf_left" class="column frame-1-c"><div id="frameuCDvdf_left_temp" class="move-span temp"></div><!--{block/128}--></div></div></div><!--[/diy]-->
            	
                <div class="clear"></div>
            </ul>
        </div>
    </div>
</div>
<div class="nex_applycommonbox">
	<div class="w1180">
    	<div class="nex_applycommonboxTop">
        	<!--[diy=nex_liangfang1]--><div id="nex_liangfang1" class="area"><div id="frameAHOnp2" class="frame move-span cl frame-1"><div id="frameAHOnp2_left" class="column frame-1-c"><div id="frameAHOnp2_left_temp" class="move-span temp"></div><!--{block/129}--></div></div></div><!--[/diy]-->
        	
        </div>
        <div class="nex_decodesigns">
        	<ul>
            	<!--[diy=nex_decodesigns]--><div id="nex_decodesigns" class="area"><div id="framepv7J2n" class="frame move-span cl frame-1"><div id="framepv7J2n_left" class="column frame-1-c"><div id="framepv7J2n_left_temp" class="move-span temp"></div><!--{block/130}--></div></div></div><!--[/diy]-->
            	
                <div class="clear"></div>
            </ul>
        </div>
        <div class="nex_morecasebtn"><a href="#" target="_blank">更多精彩案例</a></div>
    </div>
</div>
<div class="nex_applycommonbox nex_applycommonboxdb_bg">
	<div class="nex_vsleft">
    	<i></i>
    	<div class="nex_vslefttop">
        	<h5>星点家装网5大优势</h5>
        </div>
        <div class="nex_vsmainbox_left">
        	<ul>
            	<!--[diy=nex_vsmainbox_left]--><div id="nex_vsmainbox_left" class="area"><div id="framenX64oe" class="frame move-span cl frame-1"><div id="framenX64oe_left" class="column frame-1-c"><div id="framenX64oe_left_temp" class="move-span temp"></div><!--{block/131}--></div></div></div><!--[/diy]-->
            	
            </ul>
        </div>
    </div>
    <div class="nex_vsright">
    	<div class="nex_vslefttopx">
        	<h5>其他装修公司</h5>
        </div>
        <div class="nex_vsmainbox_right">
        	<ul>
            	<!--[diy=nex_vsmainbox_right]--><div id="nex_vsmainbox_right" class="area"><div id="frameysksq4" class="frame move-span cl frame-1"><div id="frameysksq4_left" class="column frame-1-c"><div id="frameysksq4_left_temp" class="move-span temp"></div><!--{block/132}--></div></div></div><!--[/diy]-->
            	
            </ul>
        </div>
    </div>
    <div class="clear"></div>
    
</div>
<div class="nex_applycommonbox">
	<div class="w1180">
    	<div class="nex_applycommonboxTop">
        	<!--[diy=nex_vsmainbox_right1]--><div id="nex_vsmainbox_right1" class="area"><div id="frameUDY8d9" class="frame move-span cl frame-1"><div id="frameUDY8d9_left" class="column frame-1-c"><div id="frameUDY8d9_left_temp" class="move-span temp"></div><!--{block/133}--></div></div></div><!--[/diy]-->
        	
        </div>
        <div class="nex_quotes">
        	<ul>
            	<!--[diy=nex_quotes]--><div id="nex_quotes" class="area"><div id="frameTm8ESe" class="frame move-span cl frame-1"><div id="frameTm8ESe_left" class="column frame-1-c"><div id="frameTm8ESe_left_temp" class="move-span temp"></div><!--{block/134}--></div></div></div><!--[/diy]-->
            	
                <div class="clear"></div>
            </ul>
        </div>
    </div>
</div>
<div class="nex_applycommonbox nex_applycommonbox_bg">
	<div class="w1180">
    	<div class="nex_applycommonboxTop">
        	<!--[diy=nex_quotes1]--><div id="nex_quotes1" class="area"><div id="frameMmtXXM" class="frame move-span cl frame-1"><div id="frameMmtXXM_left" class="column frame-1-c"><div id="frameMmtXXM_left_temp" class="move-span temp"></div><!--{block/135}--></div></div></div><!--[/diy]-->
        	
        </div>
        <div class="nex_feedbackbox">
        	<!--[diy=nex_feedbackbox]--><div id="nex_feedbackbox" class="area"><div id="framekLMMEB" class="frame move-span cl frame-1"><div id="framekLMMEB_left" class="column frame-1-c"><div id="framekLMMEB_left_temp" class="move-span temp"></div><!--{block/136}--></div></div></div><!--[/diy]-->
        	
            <a class="prev" href="javascript:void(0)"></a>
        	<a class="next" href="javascript:void(0)"></a>
        </div>
        <script type="text/javascript">
        jQuery(".nex_feedbackbox").slide({ mainCell:"ul", effect:"leftLoop", vis:3, scroll:1, autoPlay:true,  easing:"easeInBack", autoPage:true, switchLoad:"_src" });
            </script>
    </div>
</div>
<div class="nex_applycommonbox">
	<div class="w1180">
    	<div class="nex_applycommonboxTop">
        	<!--[diy=nex_feedbackbox1]--><div id="nex_feedbackbox1" class="area"><div id="framepq5q77" class="frame move-span cl frame-1"><div id="framepq5q77_left" class="column frame-1-c"><div id="framepq5q77_left_temp" class="move-span temp"></div><!--{block/137}--></div></div></div><!--[/diy]-->
        	
        </div>
        <div class="nex_decoreports">
        	<ul>
            	<!--[diy=nex_decoreports]--><div id="nex_decoreports" class="area"><div id="frameUbhDMZ" class="frame move-span cl frame-1"><div id="frameUbhDMZ_left" class="column frame-1-c"><div id="frameUbhDMZ_left_temp" class="move-span temp"></div><!--{block/138}--></div></div></div><!--[/diy]-->
            	
                <div class="clear"></div>
            </ul>
        </div>
    </div>
</div>
<div class="nex_decorcontacts">
	<div class="w1180">
    	<div class="nex_decorcontactbox">
        	<ul>
            	<li>
                	<span>客服电话：</span>
                    <em>400-123-4567</em>
                    <div class="clear"></div>
                </li>
                <li>
                	<span>客服QQ：</span>
                    <a title="QQ客服1" href="tencent://Message/?Uin=1691000615&amp;websiteName=#=&amp;Menu=yes"></a>
                    <a title="QQ客服2" href="tencent://Message/?Uin=1691000615&amp;websiteName=#=&amp;Menu=yes"></a>
                    <div class="clear"></div>
                </li>
                <div class="clear"></div>
            </ul>
        </div>
    </div>
</div>
{if file_exists('source/plugin/nex_decos_180401/inc.php')}
<!--{eval require_once("source/plugin/nex_decos_180401/inc.php");}-->
{/if}
{$form[1]}

<!--{template common/footer}-->

                                      
                                        